header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    background-color: red;
}
.logo{
    text-decoration: none;
    font-size: 30px;
    color: azure;
    cursor: pointer;
}
.favoritos{
    cursor: pointer;
    text-decoration: none;
    background-color: azure;
    border-radius: 5px;
    padding: 5;
    font-weight: bold;
    color: black;

}